<!DOCTYPE HTML>

<html>
    <head>
        <title>Sahay - A Hub for Disaster Management & Response</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
        <noscript><link rel="stylesheet" href="{{ url_for('static', filename='css/noscript.css') }}" /></noscript>
        <style>
            /* Default style for h3 elements inside the features section */
            .features h3 {
                color: #ffffff; /* Default text color */
                transition: color 0.3s ease; /* Smooth transition effect */
            }
        
            /* Hover effect for h3 elements */
            .features h3:hover {
                color: #00fffb; /* Change to a new color on hover (blue example) */
                cursor: pointer; /* Change cursor to pointer on hover */
            }
        </style>
    
    </head>
    <body class="is-preload">

        <!-- Sidebar -->
        <section id="sidebar">
            <div class="inner">
                <nav>
                    <ul>
                        <li><a href="#intro">Welcome</a></li>
                        <li><a href="#one">About</a></li>
                        <li><a href="#two">Features</a></li>
                        <li><a href="#three">Contact</a></li>
                    </ul>
                </nav>
            </div>
        </section>

        <!-- Wrapper -->
        <div id="wrapper">

            <!-- Intro -->
            <section id="intro" class="wrapper style1 fullscreen fade-up">
                <div class="inner">
                    <h1>Sahay</h1>
                    <p>- A Hub for Disaster Management & Response</p>
                    <ul class="actions">
                        <li><a href="#one" class="button scrolly">Learn more</a></li>
                    </ul>
                </div>
            </section>

            <!-- One -->
            <section id="one" class="wrapper style2 spotlights">
                <section>
                    <a href="#" class="image"><img src="{{ url_for('static', filename='images/Sahay.jpg') }}" alt="" data-position="center center" /></a>
                    <div class="content">
                        <div class="inner">
                            <h2>About Sahay</h2>
                            <p>Sahay is a comprehensive disaster management and response hub designed to equip individuals and communities with the resources and knowledge needed to navigate through emergencies effectively. With features like Dos and Don'ts, providing essential guidelines for various disaster scenarios, and a Rainfall Analysis page that offers insights into past rainfall trends, Sahay empowers users to stay prepared.
                                The app also includes an Emergency Contacts page to ensure quick access to critical support during crises and a Blood Donation Information section to guide users on compatible blood types, aiding life-saving decisions. With more features in development, Sahay aims to be a one-stop solution for disaster preparedness and response, fostering resilience and safety for all.</p>
                        </div>
                    </div>
                </section>
            </section>

            <!-- Two -->
            <section id="two" class="wrapper style3 fade-up">
                <div class="inner">
                    <h2>Features</h2>
                    <p>Explore Sahay's Features designed to enhance disaster preparedness and response. From emergency guidelines to rainfall analysis and blood donation compatibility, find all the tools you need in one place.</p>
                    <div class="features">
                        <section>
                            <span class="icon solid major fa-code"></span>
                            <a href="{{ url_for('sop') }}"><h3>Dos and Donts</h3></a>
                            <p>Be prepared for any disaster with step-by-step guidelines on the best practices to follow in critical situations. Stay informed and stay safe!</p>
                        </section>
                        <section>
                            <span class="icon solid major fa-lock"></span>
                            <a href=""><h3>Incident Reporting</h3></a>
                            <p>Under Development🔧</p>
                        </section>
                        <section>
                            <span class="icon solid major fa-cog"></span>
                            <a href="{{ url_for('emergency_contacts') }}"><h3>Emergency Contacts</h3></a>
                            <p>In times of crisis, quick access to reliable information can save lives. Visit our Emergency Contacts page for a comprehensive list of essential helplines and services to ensure you're prepared when it matters most.</p>
                        </section>
                        <section>
                            <span class="icon solid major fa-desktop"></span>
                            <a href="{{ url_for('rainfall') }}"><h3>Rainfall Prediction</h3></a>
                            <p>Under Development🔧</p>
                        </section>
                        <section>
                            <span class="icon solid major fa-link"></span>
                            <a href="{{ url_for('Blood') }}"><h3>Blood Donation</h3></a>
                            <p>Knowing the right blood type compatibility can save lives. Explore essential information on blood donation to help those in need during emergencies.</p>
                        </section>
                        <section>
                            <span class="icon major fa-gem"></span>
                            <a href=""><h3>More</h3></a>
                            <p>Stay tuned! We're constantly working to expand Sahay with more features to enhance disaster preparedness and response. Exciting updates are on the way!</p>
                        </section>
                    </div>
                </div>
            </section>

            <!-- Three -->
            <section id="three" class="wrapper style1 fade-up">
                <div class="inner">
                    <h2>Get in touch</h2>
                    <p>If you need assistance or have inquiries about disaster management and response, Sahay is here to help. Reach out to us for support, guidance, or information about our features. Together, we can prepare, respond, and recover effectively. Connect with us today!</p>
                    <div class="split style1">
                        <section>
                            <form method="post" action="#">
                                <div class="fields">
                                    <div class="field half">
                                        <label for="name">Name</label>
                                        <input type="text" name="name" id="name" />
                                    </div>
                                    <div class="field half">
                                        <label for="email">Email</label>
                                        <input type="text" name="email" id="email" />
                                    </div>
                                    <div class="field">
                                        <label for="message">Message</label>
                                        <textarea name="message" id="message" rows="5"></textarea>
                                    </div>
                                </div>
                                <ul class="actions">
                                    <li><a href="" class="button submit">Send Message</a></li>
                                </ul>
                            </form>
                        </section>
                        <section>
                            <ul class="contact">
                                <li>
                                    <h3>Address</h3>
                                    <a href="https://maps.app.goo.gl/r62gDRiENhmZ4ZUg8"><span>VIT Bhopal University<br />
                                    Sehore - 466114<br />
                                    Madhya Pradesh, India</span></a>
                                </li>
                                <li>
                                    <h3>Email</h3>
                                    <a href="#">help@sahay.com</a>
                                </li>
                                <li>
                                    <h3>Phone</h3>
                                    <span>(000) 000-0000</span>
                                </li>
                                <li>
                                    <h3>Social</h3>
                                    <ul class="icons">
                                        <li><a href="#" class="icon brands fa-twitter"><span class="label">X/span></a></li>
                                        <li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
                                        <li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
                                    </ul>
                                </li>
                            </ul>
                        </section>
                    </div>
                </div>
            </section>

        </div>

        <!-- Footer -->
        <footer id="footer" class="wrapper style1-alt">
            <div class="inner">
                <ul class="menu">
                    <li>Made by EPICS348</li>
                </ul>
            </div>
        </footer>

        <!-- Scripts -->
        <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/jquery.scrollex.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/jquery.scrolly.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/browser.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/breakpoints.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/util.js') }}"></script>
        <script src="{{ url_for('static', filename='js/main.js') }}"></script>

    </body>
</html>
