<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rainfall Prediction</title>
</head>

<body>
    <header>
        <h1>Rainfall Prediction</h1>
    </header>

    <main>
        <section>
            <p>
                Understanding rainfall patterns is critical for disaster preparedness, agriculture planning, and water resource management. Analyzing rainfall trends enables communities and governments to take proactive measures to mitigate the risks posed by heavy rainfall and its impact on infrastructure and livelihoods.
            </p>
            <div>
                <a href="{{ url_for('rainfall_entry') }}">
                    <button>Go to Rainfall Analysis</button>
                </a>
            </div>
        </section>
    </main>
</body>

</html>
